@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

.xdaq-red, .xdaq-error
{
	background: rgb(202, 60, 60) !important;
	background: #db2a2a !important;
}
.xdaq-green, .xdaq-success
{
	background: rgb(28, 184, 65) !important;
}
.xdaq-blue
{
	background: rgb(66, 184, 221) !important;
}
.xdaq-orange
{
	background: rgb(244, 117, 20) !important;
}
.xdaq-yellow
{
	background: rgb(244, 233, 40) !important;
}
.xdaq-lightgrey
{
	background: #E6E6E6 !important;
}
.xdaq-darkgrey
{
	background: #C8C8C8 !important;
}
.xdaq-borderblue
{
	background: rgb(66, 184, 221) !important;
}
.xdaq-black
{
	background: #000000 !important;
}
.xdaq-white
{
	background: #FFFFFF !important;
}

.xdaq-color-red, .xdaq-color-error
{
	color: rgb(202, 60, 60) !important;
	color: #db2a2a !important;
}
.xdaq-color-green, .xdaq-color-success
{
	color: rgb(28, 184, 65) !important;
}
.xdaq-color-blue
{
	color: rgb(66, 184, 221) !important;
}
.xdaq-color-orange
{
	color: rgb(244, 117, 20) !important;
}
.xdaq-color-yellow
{
	color: rgb(244, 233, 40) !important;
}
.xdaq-color-lightgrey, .xdaq-error
{
	color: #E6E6E6 !important;
}
.xdaq-color-darkgrey
{
	color: #C8C8C8 !important;
}
.xdaq-color-borderblue
{
	color: rgb(66, 184, 221) !important;
}
.xdaq-color-black
{
	color: #000000 !important;
}
.xdaq-color-white, .xdaq-color-white a
{
	color: #FFFFFF !important;
}

