@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

/* This is the stylings for the hyperdaq home page */

.xdaq-hyperdaq-home-widget-container
{
	width: 180px;
	overflow:visible;
	line-height:normal;
	padding:0px;
	margin:0px;
	display:inline-block;
	margin-right: 20px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
}

.xdaq-hyperdaq-home-widget-container a
{
	color: #666666;
	text-decoration: none;
}

.xdaq-hyperdaq-home-widget-container:hover a
{
	color: #000000;
}

.xdaq-hyperdaq-home-widget-container:hover
{
	border: 1px solid rgb(66, 184, 221);
	cursor: pointer;
}

.xdaq-hyperdaq-home-widget-image
{
	width: 100px;
	height: 100px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	opacity: 0.9;
}

.xdaq-hyperdaq-home-widget-container:hover .xdaq-hyperdaq-home-widget-image
{
	opacity: 1;
}

.xdaq-hyperdaq-home-widget-text
{
	font-size: 90%;
	text-align:center;
}

.xdaq-hyperdaq-home-widget-search
{
	border-bottom: 1px solid #999;
	height: 40px;
	text-align:right;
	padding-top:0px;
}