@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

// tooltip css
.xdaq-tooltip
{
	cursor: help;
} 

.xdaq-tooltip-error, .xdaq-tooltip-help, .xdaq-tooltip-info, .xdaq-tooltip-warn, .xdaq-tooltip-msg
{ 
	z-index:10;
	min-height:24px;
	display:none; 
	padding:14px 20px; 
	margin-top:15px; 
	margin-left:25px; 
	min-width:240px; 
	line-height:24px; 
	
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
} 

.xdaq-tooltip:hover .xdaq-tooltip-error, 
.xdaq-tooltip:hover .xdaq-tooltip-help, 
.xdaq-tooltip:hover .xdaq-tooltip-info, 
.xdaq-tooltip:hover .xdaq-tooltip-warn, 
.xdaq-tooltip:hover .xdaq-tooltip-msg 
{ 
	display:block; 
	position:absolute; 
} 

.xdaq-tooltip-msg 
{ 
	background: #FFFFAA; 
	border: 1px solid #FFAD33;
	color: #323232;
}

.xdaq-tooltip-error, .xdaq-tooltip-help, .xdaq-tooltip-info, .xdaq-tooltip-warn 
{ 
	padding-left: 34px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.xdaq-tooltip-error 
{ 
	background: #FFCCAA;
	border: 1px solid #FF3334; 
	color: #323232;
}
.xdaq-tooltip-error:after
{ 
	content: url(/hyperdaq/images/framework/xdaq-tooltip-error.png);
	position:absolute;
	height:24px;
	top: 0px;
	left: -24px;
}
.xdaq-tooltip-help 
{ 
	background: #9FDAEE; 
	border: 1px solid #2BB0D7;
	color: #323232;
}
.xdaq-tooltip-help:after
{ 
	content: url(/hyperdaq/images/framework/xdaq-tooltip-help.png);
	display:block;
	position:absolute;
	height:24px;
	top: 0px;
	left: -24px;
}
.xdaq-tooltip-info 
{ 
	background: #9FDAEE; 
	border: 1px solid #2BB0D7; 
	color: #323232;
}
.xdaq-tooltip-info:after
{ 
	content: url(/hyperdaq/images/framework/xdaq-tooltip-info.png);
	display:block;
	position:absolute;
	height:24px;
	top: 0px;
	left: -24px;
}
.xdaq-tooltip-warn 
{ 
	background: #FFFFAA; 
	border: 1px solid #FFAD33; 
	color: #323232;
}
.xdaq-tooltip-warn:after
{ 
	content: url(/hyperdaq/images/framework/xdaq-tooltip-warn.png) ;
	display:block;
	position:absolute;
	height:24px;
	top: 0px;
	left: -24px;
}