
thead td	{background: buttonface; font: menu; font-size: 10px; border: 1px outset white;
			 cursor: default; padding-top: 0; padding-bottom: 0;
			 border-top: 1px solid buttonhighlight;
			 border-left: 1px solid buttonhighlight;
			 border-right: 1px solid buttonshadow;
			 border-bottom: 1px solid buttonshadow;
			 height: 16px;
			 }
thead .arrow		{font-family: webdings; color: black; padding: 0; font-size: 10px;
			height: 11px; width: 10px; overflow: hidden;
			margin-bottom: 2px; margin-top: -3px; padding: 0px; padding-top: 0px; padding-bottom: 2px;}
			/*nice vertical positioning :-) */

.alt { background-color:#efefef; }
