label {font-size: 10pt; font-family: arial;}
table {font-size: 10pt; font-family: arial; text-align: left;}
form {font-size: 10pt; font-family: arial; text-align: left; }
fieldset {font-size: 10pt; font-family: arial; text-align: left; }
legend {font-size: 10pt; font-family: arial; text-align: left; }
h1 {font-family: arial; }
h2 {font-family: arial; }
h3 {font-family: arial; }
h4 {font-family: arial; }
p {font-size: 10pt; font-family: arial; text-align: left; color:black;}
 

fieldset#contentsel {
	padding: 1em;
	font: 80%/1 sans-serif;
	/*background: green; */ 
}

a {	text-decoration: none; 
	font-family: arial;
	font-size: 10pt; 
	border: 0px;
}

/*a:hover {
	font-weight: bold;
}
*/
img#action {
	margin-right: 0px;
	margin-left: 7px;
	width: 16px;
	height: 16px;
	border: 0px;
}

div#info { 
	width: 100%;
	height: 16px;
	/*border: thin blue solid;*/
	background: white; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 10px; 
	margin-bottom: 10px;
	padding: 0px; 
}

			    
div#panel { 
	position: relative;
	float: left;
	border: thin DarkGray solid;
	background: white; 
	padding: 0px;
	margin-left: 2px; 
	margin-top: 2px; 
	margin-right: 2px; 
	margin-bottom: 2px;
	padding: 0px; 
}

div#header { 
	position: relative;
	 /* width: 100%;  */
	/*height: 16px; */
	/* border: thin black solid; */
	background: #f2f5fc; 
	/*padding: 2px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
}

div#title { 
	position: relative;
	float: left;
	/*border: thin blue solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: MidnightBlue;
}

div#command { 
	position: relative;
	float: right;
	/* border: thin blue solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 8pt;
	font-style: normal;
	
}

div#content { 
	position: relative;
	/*border: thick green solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
}

div#footer { 
	position: relative;
	/* width: 100%; */
	/* height: 12px; */
	/* border: thin black solid; */
	background: #f2f5fc; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#pagesbar {
 
	width: 100%;
	height: 30px;
	/* border: thin black solid; */
	background: LightSteelBlue; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: white;
}
div#menubar { 

	width: 100%; 
	/* height: 12px; */
	/*border: thin black solid;  */
	background: white; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 10px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#page { 
	position: relative;
	width: 100%; 
	/* height: 12px; */
	/*border: thin black solid; */
	background: yellow; 
	background-color: yellow; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}


div#column { 
	position: relative; 
	/*float: left; */
	/*height: 120px; */
	/*border: thin black solid;  No border otherwise is goes to the next line*/
	background: white; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
	float:left; /* Do not remove this float left : is mandatory */
}

div#cheader { 
	position: relative;
	/* width: 100%;  */
	/*height: 16px;  */
	/* border: thin red solid; */
	background: LightSteelBlue; 
	padding: 4px;
	margin-left: 3px; 
	margin-top: 3px; 
	margin-right: 3px; 
	margin-bottom: 3px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#ccommand { 
	position: relative;
	/*height: 30px; */
	/*border: thin black solid; */
	background: LightSlateGray; 
	padding: 4px;
	margin-left: 3px; 
	margin-top: 3px; 
	margin-right: 3px; 
	margin-bottom: 3px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
	clear: both;
}

div#cinner{ 
	/*width: 100%; */
	position: relative;
	/*height: 400px; */
	/* border: thin blue solid;  */
	background: LightSteelBlue; 
	padding: 1px;
	margin-left: 2px; 
	margin-top: 0px; 
	margin-right: 2px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}


table#default { 
        border: 1px solid #666666;
}

tbody#default { 
        border: 1px solid #666666;
}

tr#default_header { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	background-color: #ddd;
}

tr#default_even { 
	background-color: #fff;
}

tr#default_odd { 
	background-color: #dde;
}

td#default { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
}

th#default { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
}

input#default { 
	font-family: arial, "lucida console", sans-serif;
	float: right;
	width: auto;
}

fieldset#default {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	padding: 1em;
	/*background: green; */ 
}

legend#default {
	font-family: arial, "lucida console", sans-serif;
	font-size : 80%;
	/* padding: 1em; */
	/*background: green; */ 
}

label#default {
	font-family: arial, "lucida console", sans-serif;
	display: block; width: 17ex; float: left;
	text-align:right;
	font-size : 80%;
	padding: 0em 1em;
	/*background: green; */ 
}

input#default {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	padding: 1em;
	background-color: #CCCCCC;
	border: 1px solid #666666; 
	/*background: green; */ 
}

div#default {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: medium;
	color: Black;
	text-align:left;
	padding: 0em 0em;
	position: relative;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
}

a#default {	
	font-family: "lucida grande", verdana, sans-serif;
	text-decoration: none; 
	font-size: 12px; 
	border: 0px;
}

a#default:hover {
	font-weight: bold;
}
