.corexdaq table
{										
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	border: 1px solid rgb(203, 203, 203);
	font-family: "proxima-nova",sans-serif;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
	color: rgb(55, 55, 55);
    font-size: 14px;	
    width: 100%;
} 	

.corexdaq thead
{	
    background: none repeat scroll 0% 0% rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    text-align: left;
    vertical-align: bottom;
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    font-size: 14px;	
}

.corexdaq tbody 
{
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    font-size: 14px;	
}

.corexdaq th							
{										
	font-family: "proxima-nova",sans-serif;
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;    
	color: rgb(0, 0, 0);
    text-align: left;
    border-left: 1px solid rgb(203, 203, 203);
    border-width: 0px 0px 0px 1px;
    font-size: inherit;
    margin: 0px;
    overflow: visible;
    padding: 6px 12px;
} 	

.corexdaq tr 							
{ 								
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    font-size: 14px;		
} 	
.corexdaq tbody:not(.nohover) tr:hover
{
	background: rgb(240, 240, 240);
}

.corexdaq td 							
{ 		
    background-color: transparent;
    border-left: 1px solid rgb(203, 203, 203);
    border-bottom: 1px solid rgb(203, 203, 203);
    border-width: 0px 0px 1px 1px;
    margin: 0px;
    overflow: visible;
    padding: 6px 12px;
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    font-size: 14px;	
} 		

button,input[type=button],input[type=reset],input[type=submit]
{
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible
}

input[type="button"],input[type="submit"],input[type="reset"],button
{
	display:inline-block;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	font-size: 14px;
	padding: 0.5em 1.5em;
	color:rgba(0,0,0,0.8);
	border:0 rgba(0,0,0,0);
	background-color:#E6E6E6;
	border-radius: 2px;
	text-decoration:none;
	text-transform: none;
	margin: 0px;

	-webkit-transition:.1s linear -webkit-box-shadow;
	-moz-transition:.1s linear -moz-box-shadow;
	-ms-transition:.1s linear box-shadow;
	-o-transition:.1s linear box-shadow;
	transition:.1s linear box-shadow;

	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover
{
	background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
	background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
	background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}

input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active,button:active
{
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset
}

.greenbutton
{
	background: rgb(28, 184, 65) !important;
}
.redbutton
{
	background: rgb(202, 60, 60) !important;
}
.bluebutton
{
	background: rgb(66, 184, 221) !important;
}
.orangebutton
{
	background: rgb(223, 117, 20) !important
}

select
{
	font-size: 0.8em;
	box-shadow: 0px 1px 3px rgb(221, 221, 221) inset;
	border-radius: 4px;
	transition: border 0.3s linear 0s;
	-moz-box-sizing: border-box;
	padding: 0.5em 0.6em;
	text-transform: none;
	vertical-align: baseline;
	display: block;
	margin: 0px;
	border: 1px solid rgb(204, 204, 204);
}

select:focus
{
	border-color: rgb(18, 159, 234);
}

input[type="text"]
{
	outline: 0px none;
	border-color: rgb(18, 159, 234);
	margin: 0.25em 0px;
	padding: 0.5em 0.6em;
	border: 1px solid rgb(204, 204, 204);
	font-size: 0.8em;
	box-shadow: 0px 1px 3px rgb(221, 221, 221) inset;
	border-radius: 4px;
	transition: border 0.3s linear 0s;
	-moz-box-sizing: border-box;
	line-height: normal;
	vertical-align: baseline;
}

input[type="text"]:focus
{
	border-color: rgb(18, 159, 234);
}


textarea
{
	outline: 0px none;
	border-color: rgb(18, 159, 234);
	margin: 0.25em 0px;
	padding: 0.5em 0.6em;
	border: 1px solid rgb(204, 204, 204);
	font-size: 80%;
	box-shadow: 0px 1px 3px rgb(221, 221, 221) inset;
	border-radius: 4px;
	transition: border 0.3s linear 0s;
	-moz-box-sizing: border-box;
	line-height: normal;
	vertical-align: baseline;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

textarea:focus
{
border-color: rgb(18, 159, 234);
}

input[type="file"] 
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	display: block !important;
    width: 250px !important;
    height: 57px !important;
    opacity: 255 !important;
    overflow: hidden !important;
}








.dynamic-tab-pane-control.tab-pane {
  position:  relative;
  width:    100%;    /* width needed weird IE bug */
  margin-right:  -2px;  /* to make room for the shadow */
}

.dynamic-tab-pane-control .tab-row .tab {

  width:        70px;
  height:        18px;
  background-image:  url( "/xgi/images/tab.png" );
  
  position:    relative;
  top:      0;
  display:    inline;
  float:      left;
  overflow:    hidden;
  
  cursor:      Default;

  margin:      1px -1px 1px 2px;
  padding:    2px 0px 0px 0px;
  border:      0;

  z-index:    1;
  white-space:  nowrap;
  text-align:    center;
  
  font-size: 11px;
  font-weight: normal;
  
}

.dynamic-tab-pane-control .tab-row .tab.selected {
  width:        74px !important;
  height:        18px !important;
  background-image:  url( "/xgi/images/tab.active.png" ) !important;
  background-repeat:  no-repeat;

  border-bottom-width:  0;
  z-index:    3;
  padding:    2px 0 0px 0;
  margin:      1px -3px -3px 0px;
  top:      -2px;
}

.dynamic-tab-pane-control .tab-row .tab a {
  color:        Black;
  text-decoration:  none;
  cursor:        default;
}

.dynamic-tab-pane-control .tab-row .tab.hover {
  width:        70px;
  height:        16px;
  background-image:  url( "/xgi/images//tab.hover.png" );
  background-repeat:  no-repeat;
}


.dynamic-tab-pane-control .tab-page {
  clear:      both;
  border:      1px solid rgb( 145, 155, 156 );
  background:    rgb( 252, 252, 254 );
  z-index:    2;
  position:    relative;
  top:      -2px;

  color:        Black;

  
  /*244, 243, 238*/
  /* 145, 155, 156*/
  
  padding:    10px;
}

.dynamic-tab-pane-control .tab-row {
  z-index:    1;
  white-space:  nowrap;
}







